.posContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}


.pitchContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  padding-left: 10px;
}

#info {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

h2 > strong {
  font-size: 20px;
  text-decoration: underline;
}
