.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 70px;

}

.frontAndBack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.imgColumn,
.detailsColumn {
  padding: 10px;
  margin: 20px;
}

.imgColumn {
  width: 25%;
}

img {
  height: 350px;
  width: 250px;
}

.detailsColumn {
  width: 40%;
  border: 1px solid black;
}

.cardInfoContainer {
  border-radius: 30px;
  margin-bottom: 20px;
}

.cardStatsContainer {
  border-radius: 30px;
}
