


.card-tainer {
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: row;
}

.dashboard{
  color:black;
}

.filtered-names{
  color:black;
}

.card-list{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.container > .theColumnsContainer > .columns > .card-list > #player-img {
  max-width: 300px;
  max-height:300px;
  width: auto;
  height: auto;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 18px;
}

link > img {
  padding: 5px;
}

.player-name{
  text-align: left;
  color: black;
}


.cardContainer {
  display: flex;
  justify-content: center;
  min-height: 610px;
  width: 80%;
}

.frontAndBack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}


.detailsColumn {
  width: 100%;
  padding: 10px;
}

img {
  height: 350px;
  width: 250px;
}

.detailsColumn {
/*  width: 40%;*/
  border: 2px solid white;
  background-image: url('https://i.imgur.com/Ds42QE1.png');
  border-radius: 15px;
}

.cardInfoContainer {
  border-radius: 30px;
  margin-bottom: 20px;
}

.cardStatsContainer {
  border-radius: 30px;
}

.column {
  display: flex;
  align-items: center;
  align-content: center;
}

.container > .columns > #statsContain {
  padding-left: 3%;
  display: flex;
  align-items: center;
  align-content: center;
}

.card-tainer{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
