.dashboard{
  color:black;
}
.filtered-names{
  color:black;
}

.card-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#player-img {
  max-width: 300px;
  max-height:300px;
  width: auto;
  height: auto;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 18px;
}

link > img {
  padding: 5px;
}

.player-name{
  text-align: left;
  color: black;
}

.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  min-height: 610px;
}

.frontAndBack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.imgColumn,
.detailsColumn {
  padding: 10px;
  margin: 20px;
}

.imgColumn {
  width: 25%;
}

img {
  height: 350px;
  width: 250px;
}

.detailsColumn {
  width: 40%;
  border: 2px solid white;
  background-image: url('https://i.imgur.com/Ds42QE1.png');
  border-radius: 15px;
}

.cardInfoContainer {
  border-radius: 30px;
  margin-bottom: 20px;
}

.cardStatsContainer {
  border-radius: 30px;
}
/*.card-tainer{
  display: flex;
  flex-direction: column;
}*/
