.text {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.credit {
  font-style: italic;
  padding-left: 40px;
  padding-bottom: 50px;
}

.image {
  height: 500px;
  width: 600px;
  padding-right: 30px;
  padding-bottom: 30px;
}
