.pitchContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  padding-left: 10px;
}

#info {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

h1 > strong {
  font-size: 20px;
}
